﻿
@{
    ViewBag.Title = "Dispense Cash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dispense Cash</h2>
<div ng-controller="DispenseCashController">
    <div class="col-lg-12 col-xs-12 col-md-12">
        <section class="col-lg-6 col-md-6">
            @*<div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-warning active">
                            <input value="1" type="radio"
                                   ng-model="dispenseCash.AlgoType" checked> Algo 1
                        </label>
                        <label class="btn btn-warning">
                            <input value="2" type="radio"
                                   ng-model="dispenseCash.AlgoType"> Algo 2
                        </label>
                    </div>
                </div>*@
            <input value="1" type="radio"
                  id="activeCheck" name="AlgoType" ng-model="dispenseCash.AlgoType" checked> Algo 1
            <input value="2" type="radio"
                   name="AlgoType" ng-model="dispenseCash.AlgoType"> Algo 2
        </section>
    </div>
    <div class="col-lg-12 col-xs-12 col-md-12">
        <section class="col-lg-6 col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">Enter Amount :</label>
                <div class="col-md-5">
                    <input ng-keypress="filterValue($event)" ng-model="dispenseCash.CashText" type="text" id="cashText" class="form-control small">
                </div>
            </div>
        </section>
    </div>
    <br />
    <div class="col-lg-12 col-xs-12 col-md-12">
        <section class="col-lg-6 col-md-6">
            <div class="form-group">
                <section class="col-md-offset-3 col-md-9">
                    <a ng-click="submitAmount()" class="btn btn-primary" id="submitBtn">Submit</a>
                    <a class="btn btn-danger" id="clearTextCash">Clear</a>
                </section>
            </div>
        </section>
    </div>

    <div id="responseDiv">
        <table class="table table-bordered table-condensed table-responsive table-striped" border="1">
            <thead>
            </thead>
            <tbody></tbody>
            <tr ng-repeat="result in dispenseCash.result">
                <td>{{result.CurrencyAmount}}</td>
                <td>{{result.Number}}</td>
            </tr>
        </table>
        @*{{dispenseCash.result}}*@
    </div>
</div>




@section pagelevelscripts
{
    <script src="~/Scripts/Custom/DispenseCash.js"></script>
    <script>
        $(document).ready(function () {
            $("#clearTextCash").click(function() {
                $("#cashText").val('').focus();
            });
            $("#activeCheck").trigger("click");
        });
    </script>
}

